<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>外观控</string>
	<string>身材控</string>
	<string>性格好</string>
	<string>同乡</string>
	<string>聊得来</string>
	<string>有爱心</string>
	<string>幽默</string>
	<string>随缘</string>
	<string>上进</string>
	<string>是个人就行</string>
	<string>正能量</string>
	<string>活泼开朗</string>
	<string>会照顾人</string>
	<string>会做饭</string>
	<string>温和</string>
	<string>勤快</string>
	<string>有责任心</string>
	<string>有学识</string>
	<string>同城</string>
	<string>真诚</string>
	<string>干净</string>
	<string>稳重</string>
</array>
</plist>
