<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>长得白</string>
	<string>身材棒</string>
	<string>智商高</string>
	<string>厨艺好</string>
	<string>有肌肉</string>
	<string>浪漫</string>
	<string>交际花</string>
	<string>腼腆</string>
	<string>勤快</string>
	<string>有钱</string>
	<string>大方</string>
	<string>体贴</string>
	<string>奔放</string>
	<string>吃货</string>
	<string>逗比</string>
	<string>萌萌的</string>
	<string>学历高</string>
	<string>重口味</string>
	<string>玻璃心</string>
	<string>成熟</string>
	<string>开心果</string>
	<string>小洁癖</string>
	<string>时尚范</string>
	<string>不化妆</string>
	<string>有抱负</string>
	<string>稳定</string>
	<string>淡定</string>
</array>
</plist>
